@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background: #ffffff !important;
    color: #1E293B;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}
